.card-info{
    width: 80%;
}

.mat-icon{

    font-size: 50px !important;
    height: 50px !important;
    width: 50px !important;
}

.custom-card {
    background-color: #f17d17;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}
